@import "abstracts/vars";
@import "abstracts/mixins";
.map {
    @include border-basic(all, $map-border);
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background: $map-bg;
    .map-canvas {
        position: relative;
    }
    img {
        max-width: none;
    }
    .MicrosoftMap .infobox-close {
        position: static;
        float: right;
    }
    .MicrosoftMap .Infobox .infobox-body {
        height: 100%;
    }
    .MicrosoftMap .Infobox .infobox-info {
        height: 100%;
        box-sizing: border-box;
    }
    @import "variants/map/*";
}
