@import "abstracts/mixins";
.home-page {
    main {
        @include respond-above(md) {
        top: 90px;
        }
    }
    header {
        @include respond-above(md) {
            min-height: 92px;
        }
        .navbar-brand-icon {
            @include respond-above(md) {
                visibility: hidden !important;
            }
        }
    }
    footer{
        @include respond-above(md) {
        top: 90px;
        margin-bottom: 90px;
        }
    }
    .hero-wrap {
        @include respond-below(md) {
            padding-top: 30px;
            background-color: #2b2b2b;
        }
    }
}