@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";
.testimonial {
    @include block-padding(lg);
    background-color: $bg-light-gray;
    font-size: $font-normal;
    .field-figure {
        margin-bottom: $large-margin;
    }
    .field-title {
        margin-bottom: $extrasmall-margin;
        font-weight: 400;
    }
    .field-subtitle {
        font-weight: 300;
        font-size: $font-normal;
    }
    .inner-wrap {
        padding: $extralarge-margin;
        background-color: $white;margin-bottom:$large-margin;
    }
}