@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";
footer {
    position: relative;
    top:60px;
    margin-bottom: 60px;
    .subfooter {
        background-color: #414141;
        box-shadow: inset 0 26px 26px -8px rgba(0, 0, 0, 0.2);
        color: #cdcbcb;
        padding: 40px 0;
        @include respond-below(sm){padding: 20px 0 0;}
        .rich-text {
            text-align: center;
            padding:0;
            h2 {
                color: #fff;
                font-size: 31px;
                margin-top: 20px;
                margin-bottom: 10px;
                @include respond-below(sm) {
                    margin-top: 10px;
                    margin-bottom: 4px;
                    font-size: 24px;
                }
            }
            .phone-number {
                color: #06a58e;
                text-decoration: none;
                font-size: 32px;
                line-height: 64px;
                @include respond-below(sm) {
                    display: inline-block;
                    font-size: 24px;
                    line-height: 24px;
                    margin: 16px 0 8px;
                }
            }
            .subfooter-contact {
                font-size: 20px;
                padding:0;margin:0;
                @include respond-below(sm) {
                    font-size: 15px;
                }
                li{
                    margin:0;
                }
            }
            hr {
                max-width: 429px;
                border-top: 1px solid #cdcbcb;
                @include respond-below(sm) {
                    display: none;
                }
            }
            .logos{
                margin-left: -5px;
                margin-bottom: 10px;padding:0;
                @include respond-below(sm) {
                    background-color: rgba(41, 41, 41, .5);
                    margin: 20px 0 0;
                    padding: 12px 0;
                }
                li{
                    display: inline-block;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin:0;
                    @include respond-below(sm) {
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
                em {
                    vertical-align: middle;
                    &.icon-secure-website {
                        font-size: 48px;
                    }
                    &.icon-norton-secure-seal {
                        font-size: 58px;
                    }
                    &.icon-better-business-bureau {
                        font-size: 32px;
                    }
                    @include respond-below(sm) {
                        &.icon-secure-website {
                            font-size: 38px
                        }
                        &.icon-norton-secure-seal {
                            font-size: 48px;
                            display: inline-block;
                            margin-left: -8px
                        }
                        &.icon-better-business-bureau {
                            font-size: 24px;
                            display: inline-block;
                            margin-top: 5px
                        }
                    }
                }
            }
            ul {
                &.list-inline li,
                &.list-unstyled li {
                    list-style: none;
                }
                li {
                    font-size: 20px;
                    color: #cdcbcb;
                    @include respond-below(sm) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .footer {
        background-color: #2b2b2b;
        padding: 20px 0;
        @include respond-below(sm) {
            padding: 20px 5px 90px;
        }
        .rich-text {
            color: #cdcbcb;
            font-size: 16px;
            padding:0;
            @include respond-below(sm) {    
                font-size: 11px;
                line-height: 1.6em;
            }
            a {
                color: #cdcbcb;
                &:active,
                &:focus,
                &:hover {
                    color: #d10962;
                }
                @include respond-below(sm) {
                    font-size: 11px;
                    line-height: 1.6em;
                }
            }
            ul.links {
                text-align: center;
                padding: 0;
                margin: 0 0 20px 0;
                li {
                    margin-left: 0;
                    margin-right: 20px;
                    list-style-type: none;
                    display: inline-block;
                    padding-left: 5px;
                    padding-right: 5px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
            .legal {
                max-width: 95%;
                margin: 0 auto;
                font-size: 15px;
                @include respond-below(sm) {
                    font-size: 11px;
                    line-height: 1.6em;
                }
                sup {
                    font-size: 60%;
                    top: -0.75em;
                }
                ol {
                    margin-left: 0;padding:0;
                    margin-bottom: 10px;
                    >li {
                        line-height: 1.75em;
                        list-style: none;
                        margin-left: 0;
                        font-size: 15px;
                        line-height: 1.7em;
                        @include respond-below(sm) {
                            font-size: 11px;
                            line-height: 1.6em;
                        }
                    }
                }
                p {
                    color: #cdcbcb;
                    margin-bottom: 2em;
                    font-size: 15px;
                    line-height: 26px;
                    &.nobr {
                        margin-bottom: 0;
                    }
                    @include respond-below(sm) {
                        font-size: 11px;
                        line-height: 1.6em;
                    }
                }
            }
            .legal-more {
                display: inline;
            }
        }
    }
}