@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";

.subscribe-block{
    background-color:$bg-medium-gray;
    @include respond-below(md){
        text-align:center;
    }
    @include block-padding(sm);
    p{
        color:$white;
        margin:0;
    }
    h3{
        margin-top: 0.8125rem;
        margin-bottom:$large-margin;
        color:$white;
        @include respond-above(md){
            margin-bottom:0;
            text-align: right;
        }
    }
    p{
        font-size: $font-small;
    }
    .txt-feild-contnr{
        margin:0;
    }
    .txt-feild-contnr .input-wrapper input, .txt-feild-contnr .button-default{
        height:2.90rem;
    }
    .input-wrapper{
        width:100%;
        input{
            width:100%;
        }
        @include respond-above(md){
            width:70%;   
        }
    }
    .button-default{
        background: $bg-blue-dark;
        @include respond-below(md){
            margin-bottom:$small-margin;
        }
        &:after{
            display: none;
        }
    }

}