@import "abstracts/mixins";
@import "abstracts/vars";
.plan-benefits {
    margin-top: 0; //CUSTOM BANNER FOR PLAN BENEFITS
    header {
        @include respond-above(md) {
            min-height: 92px;
        }
        .navbar-brand-icon {
            @include respond-above(md) {
                visibility: hidden !important;
            }
        }
    }
    .hero-wrap {
        padding-top: 0;
        .hero {
            .hero-content {
                margin-bottom: 50px;
                h1 {
                    display: none;
                }
                h2 {
                    max-width: 1000px;
                    @include respond-to(tablet) {
                        max-width: 630px;
                        margin-top: -10px;
                    }
                    @include respond-below(sm) {
                        font-size: 19px;
                        line-height: 1.5em;
                        margin-top: 0;
                    }
                }
                form {
                    margin: 44px 0;
                    @include respond-below(sm) {
                        margin: 5px 0;
                    }
                }
                ul>li {
                    @include respond-to(tablet) {
                        font-size: 18px;
                    }
                }
                .call {
                    font-size: 28px;
                }
            }
        }
    }
}

.plans {
    max-width: 860px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    @include respond-below(sm) {
        font-size: 18px;
        line-height: 24px;
        padding-right: 0;
        padding-left: 0;
    }
    @include respond-to(tablet) {
        padding-top: 35px;
    }
    .table-plans {
        // @media (max-width: 767px) {
        //     font: 600 22px/30px sans-serif;
        //     margin-left: -15px;
        //     margin-right: -15px;
        //     font-size: 13px;
        //     line-height: 21px;
        // }
        sup {
            font-size: 50%;
            top: -.75em;
        }
        td {
            color: $purple-color;
            font-weight: 600;
            text-align: center;
            padding: 20px 20px 30px;
            em {
                display: block;
                font-weight: 400;
            }
        }
        th {
            text-align: center;
            padding: 12px 20px;
        }
        td:first-of-type {
            text-align: left;
            color: #414141;
            width: 48%;
            @include respond-below(sm) {
                width: 35%;
                position: relative;
            }
        }
        th:first-of-type {
            text-align: left;
        }
    }
    &.rich-text {
        h2 {
            font: 600 22px/30px sans-serif;
            color: $purple-color;
            text-align: center;
            max-width: 620px;
            margin: 40px auto;
            @include respond-below(sm) {
                font-size: 16px;
                line-height: normal;
                margin: 28px 0;
            }
        }
        table {
            font-size: 22px;
            line-height: 30px;
            border-collapse: collapse;
            border-spacing: 0;
            border-spacing: 2px;
            border: 0;
            @include respond-below(sm) {
                font-size: 13px;
                line-height: 21px;
            }
            tr,
            th,
            td {
                border: 0;
                line-height: normal;
                @include respond-to(tablet) {
                    font-size: 20px;
                }
            }
            th,
            td {
                @include respond-below(sm) {
                    padding: 20px 9px;
                }
            }
            th {
                background-color: $purple-color;
                font-size: 22px;
                color: #fff;
                @include respond-below(sm) {
                    font-size: 16px;
                }
                @include respond-to(tablet) {
                    font-size: 20px;
                }
            }
            tr {
                border-bottom: 1px solid $table-buttom;
            }
        }
        .plans-disclaimers {
            max-width: 640px;
            margin: 30px auto 80px;
            font-size: 18px;
            line-height: 1.6em;
            @include respond-below(sm) {
                font-size: 14px;
                margin-bottom: 35px;
                padding-left: 15px;
                padding-right: 15px;
            }
            p {
                color: #000;
            }
        }
        .checkmark {
            display: inline-block;
            font-size: 1px;
            line-height: 0;
            white-space: nowrap;
            max-height: 13px;
            max-width: 23px;
            text-indent: -26px;
            @include respond-below(sm) {
                max-height: 10px;
                max-width: 20px;
                text-indent: -23px;
            }
            &:before {
                content: "";
                display: block;
                width: 23px;
                height: 13px;
                border: solid #7f4098;
                border-width: 0 4px 4px 0;
                transform: rotateY(180deg) rotate(45deg);
                @include respond-below(sm) {
                    width: 18px;
                    height: 9px;
                    border-width: 0 3px 3px 0;
                }
            }
        }
    }
}