@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
@import "abstracts/mixins";
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0.5
}

::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.5
}

:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0.5
}

:-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.5
}

.form {
    margin: 10px 0;
    font-size: 14px;
    overflow: hidden;
    table {
        width: 100%;
    }
    .scfSectionContent>div {
        // Remove spacings between form elements
        margin: 5px 0 0 0;
        padding: 0;
        &~div {
            margin: 0;
        }
        &>label,
        &>div {
            width: 100%;
            display: block;
            padding: 0;
        }
    }
    .has-feedback {
        @include clearfix();
    }
    .scfRequired {
        display: none !important;
    }
    fieldset {
        @include border-basic();
        padding: 15px;
        margin: 10px 0;
        position: relative;
        legend {
            font-weight: 700;
            padding: 0 5px;
            font-size: 16px;
            position: absolute;
            top: -33px;
            background: #fff;
            left: 0;
        }
    }
    .scfSectionContent {
        >div {
            box-sizing: border-box;
            margin: 15px 0;
            border: 1px dashed gray;
            padding: 10px;
            position: relative;
            &:after {
                clear: both;
                content: "";
                display: block;
            }
            &:hover [class$="GeneralPanel"]>[class$="UsefulInfo"] {
                opacity: 1;
            }
            select,
            input {
                margin-left: 5px;
            }
        }
        [class$="UsefulInfo"] {
            transition: opacity 0.75s;
            box-sizing: border-box;
            opacity: 0;
            font-size: 12px;
            margin-left: 5px;
            position: absolute;
            @include border-basic();
            left: 0px;
            top: -15px;
            padding: 4px 8px;
            max-width: 98%;
            width: auto;
            background-color: #F5F5F5;
            color: #808080;
        }
    }
    input,
    select,
    textarea {
        @include border-basic();
        padding: 2px 4px;
        max-width: 98%;
    }
    .scfCaptcha {
        input[type="text"] {
            margin: 0;
        }
    }
    .scfCaptchaLimitGeneralPanel,
    .scfCaptchStrongTextPanel {
        max-width: 100%;
        width: auto;
    }
    .scfCaptchaLabel {
        display: none;
    }
    .scfSectionContent .scfCaptchaGeneralPanel embed {
        max-width: 180px;
    }
    input[type="image"] {
        border: none;
    }
    input[type="submit"],
    button {
        @include border-basic();
        background: $bg-basic-color;
        cursor: pointer;
        margin-left: 0;
    }
    input[type="text"],
    input[type="password"],
    textarea,
    input[type="file"] {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        @include border-basic(bottom);
        width: 95%;
        padding: 2px;
        &+span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    input[type="file"] {
        appearance: none;
    }
    input[type="radio"] {
        position: absolute;
        &+label:before {
            content: "";
            position: absolute;
            top: 2px;
            display: block;
            width: 16px;
            height: 16px;
            background-color: $bg-basic-color;
        }
        &+label:after {
            content: "";
            position: absolute;
            top: 2px;
            display: block;
            width: 16px;
            height: 15px;
            background: image-url("radiobox.png");
        }
        &:checked+label:after {
            background-position: -16px 0;
        }
        &+label {
            user-select: none;
            padding-left: 20px;
            margin-left: 5px;
            position: relative;
        }
    }
    select {
        @include border-basic();
        max-height: 30px;
        position: relative;
        text-indent: 2px;
    }
    .scfListBox {
        background: none;
        max-height: none;
    }
    .scfDateSelectorDay,
    .scfDateSelectorMonth,
    .scfDateSelectorYear {
        width: 30%;
    }
}

@import "styles/forms/*";
//base-controls
.button-default,
.default,
.button-wrap a {
    border: none;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: .80rem 1rem;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;
    background: $btn-pink;
    color: $text-white;
    font-weight: 400;
    background-color: #d10962;
    border-color: #d10962;
    @include respond-above(md) {
        padding: 1.2rem 2.8rem;
    }
    &:after {
        content: $fa-var-angle-right;
        @include fa-icon();
        font-size: 1.30rem;
        position: relative;
        display: inline-block;
        margin-left: 0.80rem;
        padding: 0;
        vertical-align: middle;
    }
    &:hover {
        color: $white;
        background: $btn-pink-hover;
    }
}

.button-wrap {
    &.bordered {
        a {
            background-color: transparent;
            border: 3px solid $bg-blue-dark;
            color: $bg-blue-dark;
            padding: .70rem 0.95rem;
            &:hover {
                color: $white;
                background-color: $bg-blue-dark;
            }
        }
    }
}

form{
    input {
        border-radius: 0;
        &:focus{
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(209,9,98,.07), 0 0 8px rgba(209,9,98,.6);
            border-color: #66afe9;
        }
    }
}

//Zip form control
button {
    i {
        display: none !important;
    }
}

.txt-feild-contnr {
    $widget-padding: 0.45rem 0.940rem;
    display: inline-block;
    margin-bottom: $extralarge-margin;
    .input-wrapper,
    .submit-wrapper {
        display: inline-block;
        vertical-align: top;
        @include respond-below(md) {
            width: 100%;
        }
    }
    .input-wrapper input,
    .button-default {
        height: 3.625rem;
        padding: $widget-padding;
        @include respond-below(md) {
            width: 100%;
            height: 2.80rem;
        }
    }
    .input-wrapper {
        margin-bottom: $small-margin;
        @include respond-above(md) {
            margin-right: 5px;
            margin-bottom: 0;
        }
        input {
            font-size: $font-medium;
            max-width: 100%;
        }
    }
}

//secondary CTA.
.secondary-cta {
    margin-bottom: $middle-margin;
    .phone-number {
        a {
            font-size: $font-big;
            color: $text-pink;
            text-decoration: none;
            font-weight: 700;
            @include respond-above(md) {
                font-size: $font-extrabig;
            }
            &:hover {
                color: $text-basic;
            }
        }
    }
}

//Single page form.
.custom-single-form {
    .quote-form {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #ddb5ce;
        color: #414141;
        @include respond-below(sm) {
            padding: 60px 15px;
        }
        h2 {
            text-align: center;
            font: 600 34px/1.3em Domaine Display, Times New Roman, serif;
            margin-bottom: 20px;
            @include respond-below(sm) {
                font-size: 25px;
                max-width: 240px;
                margin: 0 auto 20px;
            }
        }
        h3 {
            font-weight: 400;
            font-size: 1.10rem;
            margin-bottom: $small-margin;
            max-width: 580px;
            margin: 0 auto;
            text-align: center;
            color: #414141;
            margin-bottom: 24px;
            font-size: 20px;
            @include respond-below(sm) {
                font-size: 16px;
                margin-bottom: 0;
                padding: 0 5%;
            }
            @include respond-to(tablet) {
                margin-bottom: 0;
            }
        }
        h4 {
            margin: 0 auto;
            margin-top: 5px;
            font-size: 20px;
            @include respond-below(sm) {
                font-size: 15px;
                margin-top: 0;
                margin-bottom: 20px;
                text-align: center;
                width: 100%;
            }
            @include respond-to(tablet) {
                width: auto;
                text-align: left;
            }
        }
        .form-group {
            margin: 32px 0;
            @include respond-below(sm) {
                margin: 24px 0;
            }
            @include respond-to(tablet) {
                .col-sm-4 {
                    width: 40%;
                }
                .col-sm-8 {
                    width: 60%;
                }
                .col-sm-offset-4{
                    margin-left:40%;
                }
            }
            label {
                font-weight: 700;
                display: inline-block;
                max-width: 100%;
                @include respond-below(sm) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                @include respond-to(tablet) {
                    font-size: 20px;
                }
                &[for=dob] {
                    margin-top: -7px;
                    padding-top: 0;
                }
                span {
                    font-size: 18px;
                    color: #414141;
                    font-style: italic;
                    font-weight: 400;
                    margin: 0;
                    display: block;
                }
            }
            
        }
        button[type=submit] {
            @include respond-below(sm) {
                width: 100%;
            }
        }
        .container {
            max-width: 860px;
            .row {
                margin: 0;
            }
        }
        .form-control {
            font-size: 22px;
            line-height: 31px;
            font-weight: 400;
            height: 44px;
            border-radius: 0;
            outline: 0;
            box-shadow: none;
            border-color: $border-gray;
            background-color: $white;
            padding: 0 12px;
            @include respond-below(sm) {
                font-size: 18px;
                height: 37px;
                line-height: normal;
                -webkit-appearance: none;
            }
            &:focus{
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(209,9,98,.07), 0 0 8px rgba(209,9,98,.6);
                border-color: #66afe9;
            }
            
            &.fullname,
            &.address,
            &.email {
                max-width: 29.5rem;
                @include respond-to(tablet) {
                    width: 345px;
                }
                @include respond-below(sm) {
                    max-width: 100%;
                }
            }
            &.dob {
                max-width: 16rem;
                @include respond-below(sm) {
                    max-width: 62%;
                }
                @include respond-to(tablet) {
                    width: 215px;
                }
            }
            &.zipcode {
                max-width: 11.5rem;
                @include respond-below(sm) {
                    max-width: 100%;
                }
                @include respond-to(tablet) {
                    width: 150px;
                }
            }
            &.phone {
                max-width: 16rem;
                @include respond-below(sm) {
                    max-width: 62%;
                }
                @include respond-to(tablet) {
                    width: 215px;
                }
            }
        }
        .form-horizontal {
            margin: 0 -15px;
            h3 {
                display: none;
            }
            >p {
                font-size: 12px;
                line-height: 1.6em;
                color: #414141;
                text-align: center;
                max-width: 729px;
                margin: 52px auto 20px;
            }
            .button-default {
                height: 60px;
                width: 309px;
                text-align: left;
                font-size: 22px;
                padding: 0 40px;
                &:after {
                    font-size: 25px;
                    margin-left: 18px;
                }
                @include respond-below(sm) {
                    font-size: 18px;
                    padding: 0 15px;
                    max-width: 309px;
                    width: 100%;
                    height: 50px;
                    display: block;
                    text-align: center;
                    margin-top: 12px;
                }
            }
        }
        .inline-radios {
            border: 1px solid $border-gray;
            max-width: 263px;
            >label {
                display: inline-block;
                width: 50%;
                max-width: 133px;
                font-size: 22px;
                font-weight: 400;
                height: 44px;
                line-height: 42px;
                padding-left: 12px;
                margin-bottom: 0;
                cursor: pointer;
                background-color: $white;
                span {
                    font-size: 1.10rem;
                }
            }
            label+label {
                border-left: 1px solid $border-gray;
                margin-left: -6px
            }
            input[type=radio] {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            input[type=radio]+span {
                display: block;
                position: relative;
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 13px;
                    top: 15px;
                    width: 1rem;
                    height: 1rem;
                    vertical-align: -.07em;
                    border-radius: 1em;
                    border: .1em solid #fff;
                    box-shadow: 0 0 0 .05em $border-gray;
                    transition: .5s ease all;
                }
            }
            input[type=radio]:checked+span:before {
                background: $text-pink;
                box-shadow: 0 0 0 .05em $border-gray;
            }
            input[type=radio]:focus+span:before {
                box-shadow: 0 0 0 .07em $text-pink;
            }
        }
    }
    .widget_underage {
        display: none;
    }
}

.widget-zipcode-box {
    position: relative;
    .errormsg {
        display: none;
        background-color: #000;
        color: #fff;
        bottom: 118%;
        text-shadow: none;
        position: absolute;
        border-radius: 4px;
        max-width: 200px;
        padding: 3px 8px;
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 1.42857;
        left: 8px;
        &:after {
            border-color: #000 transparent transparent;
            border-style: solid;
            border-width: 6px 6px 0;
            content: "";
            display: inline-block;
            height: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
        }
    }
}