@import "abstracts/vars";
@import "abstracts/mixins";
.info-img {
    font-size: 18px;
    line-height: 1.5em;
    .container{
        @include respond-above(lg) {
            max-width:1200px;
            width:100%;
        }
    }
    .call-out {
        padding: 0;
        display: block;
        max-width: 100%;
        height: auto;
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        @include respond-below(sm) {
            h2,
            p {
                margin: 15px 0;
                font-size: 16px;
                line-height: 1.3em;
            }
        }
        h2 {
            font: 600 20px/28px Open Sans, sans-serif;
            color: #112b30;
            margin: 46px 40px 10px;
            @include respond-below(sm) {
                margin: 15px 0;
                font-size: 16px;
                line-height: 1.3em;
            }
        }
        p {
            margin: 10px 40px;
            color: #112b30;
            @include respond-below(sm) {
                margin: 15px 0;
                font-size: 16px;
                line-height: 1.3em;
            }
        }
    }
    .field-ctaicon {
        display: block;
        max-width: 100%;
        height: auto;
        padding:0;
        line-height: 0;
        @include respond-below(sm) {
        padding:0
        }
    }
}