@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome";
$banner-color:#f5f5f5;
.hero-wrap {
    
    .hero {
        background-position: 50% 10%;
        background-repeat: no-repeat;
        .hero-content {
            margin: 20px 0 0;
            padding-top: 20px;
            text-align: center;
            color: #fff;
            @include respond-below(sm) {
                font-size: 18px;
                line-height: normal;
                margin-bottom: 40px;
                padding-left: 15px;
                padding-right: 15px;
            }
            @include respond-to(tablet) {
                margin-top: 30px;
                padding-top: 0;
                font-size: 18px;
            }
            .logo {
                font-size: 60px;
                margin: 42px 0 64px;
                @include respond-below(sm) {
                    font-size: 48px;
                    margin: 0 0 40px;
                }
            }
            h2 {
                font: 600 36px/1.3em "Domaine Display", "Times New Roman", serif;
                max-width: 789px;
                margin: 20px auto 0;
                letter-spacing: .03em;
                @include respond-below(sm) {
                    font-size: 25px;
                    line-height: 1.3em;
                    margin-bottom: 20px;
                }
                @include respond-to(tablet) {
                    font-size: 32px;
                    line-height: 1.5em;
                }
            }
            p {
                max-width: 576px;
                margin: 18px auto 0;
                font-weight: 400;
                letter-spacing: .02em;
                color: #fff;
                @include respond-below(sm) {
                    font-size: 14px;
                    margin: 0 auto;
                }
            }
            form {
                margin: 53px 0 100px;
                @include respond-below(sm) {
                    margin: 30px 0 0;
                }
                .input-wrapper,
                .submit-wrapper {
                    display: inline-block;
                    margin: 0;
                    width: auto;
                }
                button,
                input.zip-code-input {
                    position: relative;
                    font-size: 20px;
                    padding: 0 15px;
                    text-align: left;
                    vertical-align: top;
                    border: 1px solid transparent;
                    background-image: none;
                    touch-action: manipulation;
                    cursor: pointer;
                    display: inline-block;
                    margin-bottom: 0;
                }
                button {
                    width: 220px;
                    margin-left: -5px;
                    height: 50px;
                    font: 400 20px arial, sans-serif;
                    background-color: #d10962;
                    border-color: #d10962;
                    border-radius: 0;
                    line-height: 30px;
                    &:after {
                        content: $fa-var-angle-right;
                        @include fa-icon();
                        font-size: 25px;
                        display: inline-block;
                        padding: 0;
                        vertical-align: middle;
                        font-weight: bold;
                        position: absolute;
                        top: 12px;
                        left: 190px;
                        @include respond-below(sm) {
                            top: 10px;
                            left: 145px;
                            font-size: 20px;
                        }
                    }
                    @include respond-below(sm) {
                        font-size: 15px;
                        width: 162px;
                        height: 38px;
                        line-height: 35px;
                        padding: 0 10px;
                    }
                }
                input.zip-code-input {
                    color: #414141;
                    width: 150px;
                    height: 50px;
                    border: none;
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    background-clip: padding-box;
                    @include respond-below(sm) {
                        width: 114px;
                        height: 38px;
                        font-size: 15px;
                        padding: 0 10px;
                        text-align: center;
                    }
                }
            }
            ul {
                li {
                    font: 22px/30px Open Sans, sans-serif;
                }
                .call {
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: 600;
                    padding-bottom: 6px;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}