@import "abstracts/vars";
img {
        max-width: 100%;
        height: auto;
    }
.image {
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        display: inline-block;
        max-width: 100%;
    }
    .image-caption {
        display: block;
        font-style: italic;
        font-size: $font-small;
        color: $image-caption-color;
    }
}
@import "styles/image/*";
