@import "abstracts/vars";
@import "abstracts/mixins";
.info-bg,
.info-bg-2 {
    .btn-alt {
        color: #d10962;
        background-color: #fff;
        border-color: #fff;
        border-radius: 0;
        &:active {
            background-color: #e6e6e6;
            border-color: #e6e6e6;
            color: #d10962;
            outline: 0;
            &:focus,
            &:hover {
                background-color: #e6e6e6;
                border-color: #e6e6e6;
                color: #d10962;
                outline: 0;
            }
        }
        &:focus,
        &:hover {
            background-color: #e6e6e6;
            border-color: #e6e6e6;
            color: #d10962;
            outline: 0;
        }
    }
    .btn>span.arrow {
        display: inline-block;
        padding: 4px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .btn-alt>span.arrow {
        border: solid #d10962;
        border-width: 0 2px 2px 0;
    }
    @include respond-to(tablet) {
        line-height: 1.5em;
    }
}

.info-bg {
    color: #fff;
    text-align: center;
    .info-bg-img {
        >.component-content {
            background-color: #018eac;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            padding: 80px 0;
            @include respond-below(sm) {
                padding: 100px 0 30px;
            }
        }
        P {
            max-width: 430px;
            margin: 30px auto 46px;
            letter-spacing: .02em;
            color: #fff;
            @include respond-below(sm) {
                margin: 20px auto;
            }
        }
        h2 {
            font: 400 32px/42px Open Sans, sans-serif;
            max-width: 620px;
            margin: 0 auto;
            @include respond-below(sm) {
                font-size: 18px;
                line-height: 1.3em;
            }
        }
        .start_onliine_btn {
            font-size: 22px;
            text-decoration: none;
            width: 314px;
            line-height: 60px;
            padding: 0;
        }
        .btn-alt {
            font-size: 22px;
            text-decoration: none;
            width: 314px;
            line-height: 62px;
            padding: 0;
            @include respond-below(sm) {
                width: 100%;
                max-width: 198px;
                font-size: 18px;
                line-height: 51px;
                margin: 60px auto 0;
                display: block;
            }
            span.arrow {
                position: relative;
                left: 4px;
                top: -1px;
                @include respond-below(sm) {
                    left: 2px;
                    padding: 3px;
                }
            }
        }
    }
    &.info-bg-2 {
        .info-bg-img>.component-content {
            background-size: cover;
            padding: 100px 0;
            background-image: url(../images/hero_3.jpg);
            background-position: 100% 20%;
            @include respond-below(sm) {
                background-image: url(../images/hero_3-mobile.jpg);
                background-position: 80% 20%;
                padding: 30px 0;
            }
        }
        h2 {
            max-width: 590px;
            margin: 0 60px 30px auto;
            font: 40px/48px Domaine Display, Times New Roman, serif;
            text-align: right;
            letter-spacing: .035em;
            @include respond-below(sm) {
                font-size: 25px;
                line-height: 1.3em;
                padding-left: 15%;
                margin: 0 0 40px auto;
            }
            @include respond-to(tablet) {
                font-size: 36px;
                max-width: 14.8em;
                margin-right: 30px;
            }
        }
        .btn-alt {
            float: right;
            margin-right: 60px;
            @include respond-below(sm) {
                margin: 80px auto 0;
                float: none;
                max-width: 250px;
            }
            @include respond-to(tablet) {
                margin-right: 30px;
            }
        }
        .call-out {
            @include respond-below(sm) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.start_onliine_btn {
    color: #d10962;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    text-align: center;
}