@import "abstracts/vars";
@import "abstracts/mixins";
.call-outs {
    font-size: 18px;
    line-height: 1.3em;
    color: #414141;
    @include respond-below(sm) {
        padding: 28px 15px 0 15px !important;
    }
    @include respond-to(tablet) {
        margin-top:20px;
    }
    .row {
        .column-splitter>div {
            padding: 40px 62px;
            @include respond-below(sm) {
                padding: 0 20px;
            }
            @include respond-to(tablet) {
                padding: 40px 0;
            }
        }
    }

    
    .call-out {
        padding: 40px 0;
        text-align: center;
        margin-top: 20 px;
        
        .rich-text {
            h2 {
                font: 600 20px/1.25em Open Sans, sans-serif;
                min-height: 60px;
                max-width: 12.5em;
                color: #414141;
                margin: .5em auto;
                @include respond-below(sm) {
                    min-height: 0;
                    font-size: 18px;
                    line-height: 1.6em;
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include respond-to(tablet) {
                    min-height: 78px;
                    padding: 0 16px;
                }
            }
            p {
                line-height: 23px;
                margin: 28px 0;
                @include respond-below(sm) {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 40px;
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include respond-to(tablet) {
                    padding: 0 10px;
                }
            }
            .icon {
                display: block;
                margin: 20px auto;
                width: 140px;
                height: 140px;
                background-color: #7f4098;
                border-radius: 50%;
                background-clip: padding-box;
                @include respond-below(sm) {
                    width: 107px;
                    height: 107px;
                }
                @include respond-to(tablet) {
                    width: 120px;
                    height: 120px;
                }
                &:before {
                    font-size: 90px;
                    line-height: 140px;
                    padding-left: 2px;
                    color: #fff;
                    @include respond-below(sm) {
                        font-size: 70px;
                        line-height: 107px;
                    }
                    @include respond-to(tablet) {
                        font-size: 80px;
                        line-height: 120px;
                    }
                }
            }
        }
        @media (min-width: 768px) {
            .col-sm-4 {
                width: 33.33333%;
            }
        }
    }
    .icon {
        display: block;
        margin: 20px auto;
        width: 140px;
        height: 140px;
        background-color: #7f4098;
        border-radius: 50%;
        background-clip: padding-box;
        @include respond-below(sm) {
            width: 107px;
            height: 107px;
        }
        &:before {
            font-size: 90px;
            line-height: 140px;
            padding-left: 2px;
            color: #fff;
            @include respond-below(sm) {
                font-size: 70px;
                line-height: 107px;
            }
        }
    }
}

.call-out{
    &.type-2{
        .call-out-item{
            @include respond-below(md){
                margin-bottom: $large-margin;
            }
            .field-logo{
                img{
                    display: block;
                }
            }
            .content{
                padding:$middle-margin;
                @include respond-above(md){
                    padding:$extralarge-margin;
                }
            }
            @include respond-above(sm){
                &:nth-child(odd){
                    .field-logo{
                        padding-right:0;
                    }
                }
                &:nth-child(even){
                    .field-logo{
                        padding-left:0;float: right;
                    }
                }
            }
        }
    }
}