@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";
.component.video {
    .mejs-container {
        overflow: hidden;
    }
    .mejs-controls {
        .mejs-button {
            button {
                box-shadow: none;
                &:hover {}
            }
        }
    }
    .sxa-video-wrapper {
        position: relative
    }
    .video-init {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        background: url("/-/media/Base-Themes/Core-Libraries/styles/mejs-controls.svg") no-repeat;
        background-position: 0 -39px;
        overflow: hidden;
        z-index: 1;
    }
}

.video-component{
    .videoframe{
        max-width:750px;height:421px;
    }
    .navbar-nav{
        display: inline-block;
        float:none;
        li{
            margin-left:$large-margin;
            &:first-child{
                margin-left:0;
            }
            margin-bottom:$large-margin;
        }
        &.option-list{
            margin-bottom:$extralarge-margin;
            li{
                &:before{
                    content:"";
                    width:35px;
                    height:35px;
                    background-color:$bg-basic-color-dark;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius:50%;
                    margin-right:$small-margin;
                }
            }
        }
    }
}