@import "styles/container/*";
@import "abstracts/mixins";
@import "abstracts/vars";
.container {
    padding: 0;
    .component-content {
        @include clearfix();
    }
    // &:not([class*=' col-']){
    // @media (min-width: 1230px)
    //    {
    //         width:1200px;
    //     }
    // }
}
.inner-page{
    main{
        .container {
            @media (min-width: 1170px)
                {
                    width:100%;
                    max-width:1200px;
                }
        }
    }
}
