@import "abstracts/vars";
@import "abstracts/mixins";
.info-bar {
    .rich-text {
        background-color: #000;
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        padding: 20px 15px;
        text-align: center;
        p {
            margin: 0;
        }
        @include respond-below(sm) {
            font-size: 14px;
            line-height: 1.5em;
            padding: 28px 15px;
        }
    }
    &.info-bar-2 {
        .rich-text {
            @include respond-below(sm) {
                font-size: 16px;
                line-height: 1.4em;
                padding: 12px 0;
            }
        }
    }
}