@import "abstracts/vars";
@import "abstracts/mixins";
.faq {
    margin-bottom: 30px;
    .rich-text {
        h2,
        h3 {
            text-align: center;
            max-width: 710px;
            color: #112b30;
            @include respond-below(sm) {
                line-height: 1.4em;
                max-width: none;
            }
        }
        h2 {
            font: 36px/44px Domaine Display, Times New Roman, serif;
            margin: 60px auto 30px;
            @include respond-below(sm) {
                font-size: 25px;
                margin: 30px 0 20px;
            }
            @include respond-to(tablet) {
                margin-top: 50px;
    font-size: 32px;
            }
        }
        h3 {
            margin: 0 auto 60px;
            text-align: center;
            
            @include respond-below(sm){
                font-size: 16px;
                margin: 0 0 30px;
            }
            @include respond-to(tablet) {
                margin-bottom: 30px;
            }
        }
        a[href^="tel:"] {
            font-weight: 600;
        }
        dt,
        dl {
            color: #112b30;
            @include respond-to(tablet) {
                font-size: 20px;
            }
        }
        .is--phoneNumber {
            a {
                .invocaNumber {
                    font: 600 22px/30px Open Sans, sans-serif;
                    @include respond-below(sm) {
                        font-size: .95em;
                    }
                }
            }
        }
        dl {
            max-width: 710px;
            margin: 0 auto;
            @include respond-to(tablet) {
                margin-bottom: 60px;
            }
            dt {
                font-size: 22px;
                font-weight: 600;
                line-height: 30px;
                margin-top: 20px;
                margin-bottom: 12px;
                @include respond-below(sm) {
                    font-size: .95em;
                    line-height: 1.3em;
                    margin-bottom: 4px;
                    padding-right: 20px;
                }
                
            }
            dd {
                margin-bottom: 30px;
                @include respond-below(sm) {
                    font-size: .95em;
                }
            }
        }
    }
}