@import "abstracts/vars";
@import "abstracts/mixins";
.content, .rich-text {
    background: transparent;
    border: none;
    overflow: hidden;
    * {
        max-width: 100%;
    }
   @import "base/richtext/*";
}
.rich-text,.content{
    @import "variants/rich-text/*";
}

@import "styles/rich-text/*";

.col-2-list{
    @include respond-above(md){
        ul{
            padding-left:$large-margin;
            &:first-child{
                padding-right:$extralarge-margin;     
                padding-left:0;     
            }
        }
        ul{
            padding-left:$extralarge-margin;
        }
    }
}
.rich-text{
    ul.list-type{
        margin:0;padding-bottom:$middle-margin;
        padding-top:0;
        &:last-child{
            padding-bottom:0;    
        }
        li{
            list-style: none;
            margin:0 0 $extralarge-margin 0;
            &:last-child{
                margin:0;
            }
        }
    }
}
main{
    .content ul, .content ol, .rich-text ul, .rich-text ol{
        padding:0 0 0 40px;
        margin:0 0 10px 0;
        &.a{
            padding-left:60px;
        }
        li{
            margin:0;font-size:22px;
            list-style-position: outside;
        }
    }
}