@import "abstracts/mixins";
@import "abstracts/vars";
.privacy-policy,.terms-conditions {
    .container {
        width: 100% !important;
    }
    .hero {
        display: block;
        min-height: 215px;
        @include respond-above(sm) {
            display: none;
        }
    }
    header {
        .navbar-header {
            display: none;
        }
        .get-quote-btn {
            display: none;
        }
    }
}

.privacy__content {
    font-size: 18px;
    line-height: 27px;
    &.rich-text {
        padding: 20px 20px 80px;
        h1,
        h2,
        p,
        small,
        ul li,
        a {
            color: #4b3e61;
        }
        h1 {
            color: $font-color;
            margin-top: 44px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 22px;
            line-height: 1.5em;
            @include respond-below(sm) {
                margin-top: 25px;
            }
            small {
                display: block;
                color: $font-color;
                font-size: 22px;
                line-height: 1.5em;
            }
        }
        h2 {
            color: $font-color;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 20px;
            font-size: 22px;
            line-height: 1.5em;
            &+p {
                margin-top: 0;
            }
        }
        p {
            margin: 28px 0;
            color: $font-color;
            line-height: 27px;
            @include respond-below(sm) {
                font-size: 16px;
                line-height: 1.8em;
            }
        }
        a {
            color: $purple-color;
            text-decoration: underline;
            font-size: 18px;
            line-height: 27px;
        }
        table {
            line-height: 30px;
            border-collapse: collapse;
            border-spacing: 0;
            border: 0;
        }
        table tbody>tr>td {
            padding: 30px 20px;
            border-top: none;
            border-bottom: 1px solid $table-buttom;
            vertical-align: top;
        }
        ul {
            margin-left: 0;
            padding: 0;
            font: 22px/27px Open Sans, sans-serif;
            font-style: normal;
            line-height: 27px;
            color: $font-color;
            font-size: 18px;
            list-style: none;
            li {
                font-size: 18px;
                color: $font-color;
                list-style: none;
                &:before {
                    content: "\2022";
                    margin-right: 3px;
                    font-size: 1.5em;
                    vertical-align: top;
                }
            }
            li {
                margin-left: 0;
            }
        }
        ol {
            li {
                font: 22px/27px Open Sans, sans-serif;
                @include respond-below(sm) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
        @include respond-below(sm) {
            padding: 20px;
            h1,
            h2,
            p,
            small,
            ul li,
            a {
                font-size: 16px;
                line-height: 1.8em;
            }
        }
        @include respond-to(tablet) {
            h1,
            h2,
            p,
            small,
            ul li,
            a {
                font-size: 20px;
            }
        }
    }
}