@import "abstracts/mixins";
@import "abstracts/vars";
.hero-wrap .small {
    font-size: 100%;
    .hero-content {
        padding-top: 20px;
        text-align: center;
        color: #fff;
        margin: 75px 0 125px;
        padding: 20px 0 10px;
    }
    h1 {
        font: 600 36px/1.3em Domaine Display, Times New Roman, serif;
        max-width: 789px;
        margin: 20px auto 0;
        letter-spacing: 1px;
    }
    ul {
        max-width: 640px;
        margin: 30px auto 0;
        letter-spacing: 0.40px;
    }
}

.form-page {
    main {
        @include respond-above(md) {
            top: 90px;
        }
    }
    header {
        @include respond-above(md) {
            min-height: 92px;
        }
        .navbar-brand-icon {
            @include respond-above(md) {
                visibility: hidden !important;
            }
        }
        
    }
    footer {
        @include respond-above(md) {
            top: 90px;
            margin-bottom: 90px;
        }
    }
    .hero {
        @include respond-below(sm){
            min-height: 215px;
        }
        .hero-content {
            @include respond-to(tablet) {
                margin: 145px 0;
                font-size: 20px;
            }
            @include respond-below(sm) {
                margin: 20px 0 40px;
                font-size: 18px;
                line-height: normal;
            }
            h1 {
                @include respond-to(tablet) {
                    margin: 0 auto 5px;
                    width: 600px;
                    font-size: 32px;
                    line-height: 1.5em;
                }
                @include respond-below(sm) {
                    margin: 0 auto;
                    font-size: 25px;
                    line-height: 1.3em;
                }
            }
            ul {
                @include respond-to(tablet) {
                    margin: 0 auto;
                    li {
                        font-size: 20px;
                    }
                }
                @include respond-below(sm) {
                    margin: 5px auto 0;
                    li {
                        font-size: 18px;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .custom-single-form .quote-form {
        background-color: #f7f3f8;
        padding-bottom: 29px;
        .form-control {
            border: 1px solid #707070;
            height: 44px;
            &:focus {
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(209, 9, 98, .07), 0 0 8px rgba(209, 9, 98, .6);
            }
        }
        .form-group {
            margin-top: 0;
            margin-bottom: 32px;
        }
        h2 {
            display: none;
        }
    }
}