@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var";
.article-component{
    &.type-2{
        .content{
            position: absolute;
            bottom:0;padding:$large-margin;
            background-color:$bg-basic-color-tint;width: 100%;
        }
    }
    .field-headertext2{
        background-color:$white;
        padding:$extrasmall-margin $middle-margin;
        display: inline-block;
        color:$text-basic-active-dark;
        margin-bottom:$middle-margin;
    }
    .field-headertext{
        h5{
            font-size: $font-medium;
            color:$text-basic-active-dark;
            margin-bottom:$large-margin;
        }
    }
    .inner-wrap{
        height:23.8rem;
        background-size: cover;
        background-position: center top;
        position: relative;
    }
    .field-link{
        a{
            font-weight: 600;
            color:$bg-blue-dark;
            &:after {
                content: $fa-var-angle-right;
                @include fa-icon();
                font-size: 1.30rem;
                position: relative;
                display: inline-block;
                
                margin-left: 0.80rem;
                padding: 0;
                vertical-align: middle;
                font-weight: 600;
            }
        }
    }
}