@import "abstracts/vars";
@import "abstracts/mixins";
.thank-you {
    &.inner-page {
        .hero {
            display: block;
            min-height: 215px;
            @include respond-above(sm) {
                display: none;
            }
        }
        header {
            .navbar-header {
                display: none;
            }
            .get-quote-btn {
                display: none;
            }
        }
        main .typ-text-wrap {
            padding-top: 140px;
            padding-bottom: 280px;
            @include respond-to(tablet) {
                padding-top: 100px;
                padding-bottom: 140px;
            }
            @include respond-below(sm) {
                background-color: #f7f3f8;
                padding-top: 80px;
            }
            .container {
                max-width: 100%;
            }
            .rich-text {
                h1 {
                    font: 600 44px/44px Domaine Display, Times New Roman, serif;
                    color: #414141;
                    @include respond-to(tablet) {}
                    @include respond-below(sm) {
                        font-size: 25px;
                        margin-bottom: 20px;
                    }
                }
                p {
                    max-width: 650px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    color: #414141;
                    @include respond-to(tablet) {}
                    @include respond-below(sm) {
                        font-size: 14px;
                    }
                }
                a {
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
    }
}