@import "abstracts/vars";
@import "abstracts/mixins";
header {
    background-color: $header-color;
    border: none;
    border-radius: 0;
    min-height: 60px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
    top: 0;
    
    #header {
        @include respond-below(sm) {
            padding: 20px 25px;
        }
        @include respond-to(tablet) {
            padding: 14px 25px;
            padding-left: 14px;
        }
    }
    .navbar-header {
        //float: none;
        text-align: center;
        padding: 22px 0;
        font-weight: 400;
        @include respond-below(md) {
            padding: 0;
        }
        .rich-text {
            @include respond-to(tablet) {
                font-size: 16px;
                line-height: normal;
                max-width: 330px;
                margin: 0 auto;
                position: relative;
                top: -8px;
            }
            sup {
                font-size: 50%;
                vertical-align: middle;
            }
        }
    }
    .phone-number {
        font-size: 22px;
        position: absolute;
        top: 22px;
        right: 15px;
        padding: 0;
    }
    .navbar-brand-icon {
        text-align: left;
        @include respond-above(md) {
            padding-top: 18px;
        }
        .rich-text {
            line-height: 1;
            a {
                text-decoration: none;
                em.icon-aetna-logo {
                    text-align: left;
                    margin: 0;
                    color: $white;
                    font-size: 20px;
                    @include respond-above(sm) {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .rich-text {
        color: $white;
    }
    .phone-number {
        text-align: right;
        .rich-text {
            font-size: 22px;
            line-height: 24px;
            font-weight: 600;
        }
    }
    .get-quotes {
        position: relative;
        a.get-quote-btn {
            margin-right: -15px;
            width: 120px;
            padding: 20px 8px;
            background-color: #d10962;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            line-height: normal;
            height: 62px;
            position: absolute;
            right: 5px;
            top: -20px;
            text-align: left;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
            i:before {
                position: absolute;
                right: 10px;
                top: 24px;
                font-size: 14px;
            }
        }
        .floating-c2c {
            width: 63px;
            height: 63px;
            background-color: #d10962;
            border-radius: 50%;
            background-clip: padding-box;
            position: fixed;
            bottom: 20px;
            right: 20px;
            box-shadow: 5px 9px 21px -1px rgba(0, 0, 0, .5);
            a {
                display: block;
                height: 63px;
                width: 63px;
                line-height: 63px;
                text-align: center;
                color: #fff;
                text-decoration: none;
                font-size: 46px;
                padding: 4px 0 0;
                margin-right: 0;
                top: 0;
                right: -8px;
                i {
                    display: inline-block;
                    transform: rotate(-110deg);
                }
            }
        }
    }
}