@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
@import "base/fontawesome/font-awesome";
html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0px;
}
.on-page-editor{
    header{
        position: static!important;
    }
}

body {
    color: #414141;
    font: 22px/30px Open Sans,sans-serif;
    @include respond-above(md){
        font-size: $font-medium;
    }
    @include respond-below(md){
        margin-top:0;
    }
    &.on-page-editor {
        background: $page-bg-editor !important;
    }
}
a,button,input[type="submit"]{
    @include transition(0.25s ease);
}
a,.rich-text a {
    color: $text-basic;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        color: $text-basic-active;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: $font-medium2;
    margin-bottom:$middle-margin;
    @include respond-above(md){
        font-size: $font-extrabig;
        margin-bottom:$extralarge-margin;
    }
   
    &.xl{
            @include respond-above(md){
            font-size:$font-extrabig-3;
        }
    }
}

h2 {
    font-size: $font-medium2;margin-bottom:$large-margin;
    @include respond-above(md){
        font-size: $font-extrabig;
    }
}

h3 {
    font-size: 1.2em;margin-bottom:$large-margin;
}

h4 {
    font-size: 1em;margin-bottom:$middle-margin;
}

h5 {
    font-size: 0.83em;margin-bottom:$small-margin;
}

h6 {
    font-size: 0.67em;margin-bottom:$middle-margin;
}
p{
    margin-bottom:$middle-margin;
    color: $text-basic-active-dark;
}
.xa-variable {
    border: 0px;
    padding: 1px;
    margin: 0px;
    background-color: #ebebe4;
    color: #545454;
    user-select: none;
    pointer-events: none;
}

//Navigation Bar fix 
#breadcrumbMenuSubcontrol_context_menu * {
    box-sizing: initial;
}

//End navigation bar fix

//Inine List.

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.logos {
    em {
        vertical-align: middle;
        color: $text-blue;
        &.icon-secure-website {
            font-size: 3.35rem;
        }
    }
}

main{
    position: relative;
    top:60px;
    sup {
        font-size: 50%;
        top: -2px;
    }
    font: 22px/30px "Open Sans",sans-serif;
    h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #7f4297;
        margin-bottom: 28px;
    }
    dl {
        max-width: 710px;
        margin: 0 auto;
        dt {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            margin-top: 20px;
            margin-bottom: 12px;
        }
        dd {
            margin-bottom: 30px;
        }
    }
}
.logo>span {
    display: none;
}
.is--phoneNumber {
    display: inline-block;
    position: relative;
  }
  @media (min-width: 1025px) {
    .is--phoneNumber {
      a {
        display: inline-block;
        line-height: 1px;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
      }
      &:before {
        background: #002f6c;
        content: " ";
        display: block;
        left: 0;
        height: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        z-index: 6;
      }
    }
  }
@media (max-width: 767px){
    .hidden-phone {
        display: none;
    }
}
@media (max-width: 1098px) and (min-width: 768px){
    .hidden-tablet {
        display: none;
    }
}
@media (max-width: 767px){
    main {
        font-size: 18px;
        line-height: 24px;
    }
}
