@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/vars";

.p-xl{
    padding-top:$large-margin;
    padding-bottom:$large-margin;
    @include respond-above(md){
        padding-top:$extralarge3-margin;
        padding-bottom:$extralarge3-margin;
    }
}
.p-lg{
    padding-top:$large-margin;
    padding-bottom:$large-margin;
    @include respond-above(md){
        padding-top:$extralarge2-margin;
        padding-bottom:$extralarge2-margin;
    }
}
.p-md{
    padding-top:$large-margin;
    padding-bottom:$large-margin;
    @include respond-above(md){
        padding-top:$extralarge-margin;
        padding-bottom:$extralarge-margin;
    }
}
.p-sm{
    padding-top:$small-margin;  
    padding-bottom:$small-margin;
}
.p-xs{
    padding-top:$extrasmall-margin;
    padding-bottom:$extrasmall-margin;
}