$font-small:0.875rem;
$font-normal:1rem;
$font-medium:1.125rem;
$font-medium2:1.60rem;
$font-big:2rem;
$font-extrabig:2.2rem;
$font-extrabig-2:4.4rem;
$font-extrabig-3:5.1rem;
//Navigation
$navigation-font-basic:18px;
$navigation-font-basic-submenu:14px;
//Tabs
$tab-font-header:16px;
//Accordion
$accordion-header:16px;
//Breadcrumb
$breadcrumb-font:15px;
// Link List
$link-list-title-font:15px;

$footer-basic:$font-small;