$extrasmall-margin:0.3125rem;
$small-margin:0.625rem;
$small-margin2:0.950rem;
$middle-margin:1.25rem;
$large-margin:1.875rem;
$extralarge-margin:2.5rem;
$extralarge2-margin:4.5rem;
$extralarge3-margin:6.0rem;
