.facet-single-selection-list {
    .facet-dropdown {
        margin: 10px 0;
        select {
            min-width: 100%;
        }
    }
    .facet-value {
        input[type="checkbox"] {
            display: none;
        }
        label {
            color: $search-item-color;
        }
        &.active-facet {
            .facet-count {}
            label, .facet-count.highlighted, span {
                color: $text-blue;
            }
        }
    }
    .bottom-remove-filter {
        float: left;
    }
    .bottom-filter-button {
        float: right
    }
}
