@import "../../abstracts/vars";
@import "../../abstracts/mixins";
.location-filter {
    position: relative;
    padding: 5px 10px 15px 10px;
    margin: 0 0 20px 0;
    .location-search-box-input {
        padding: 5px 10px;
        margin-top: 0;
        max-width: 100%;
        &.tt-hint {
            margin-top: 0;
        }
        input[type="text"] {
            padding: 5px 18px;
        }
    }
    .location-search-box-button {
        display: block;
        @include border-basic();
        float: left;
        padding: 5px 5px;
        cursor: pointer;
    }
    .twitter-typeahead {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        width: 100%;
    }
    .tt-hint::-webkit-input-placeholder {
        color: transparent;
    }
    .tt-hint::-moz-placeholder {
        color: transparent;
    }
    .tt-dropdown-menu {
        width: 350px;
        margin-top: 5px;
        padding: 4px 0;
        background-color: #fff;
        @include border-basic();
        max-height: 300px;
        overflow-y: auto;
    }
    .tt-suggestion {
        padding: 4px 10px;
        overflow: hidden;
        &:last-child {
            border: none;
        }
        .field-image {
            width: 100px;
            float: left;
            margin-right: 10px;
        }
        .field-make {
            font-size: 15px;
            float: left;
            margin-right: 5px;
        }
        .field-model {
            margin-left: 4px;
            font-size: 15px;
            font-weigh: bold;
            width: 100%;
        }
        .field-priceformatted {
            float: right;
            font-size: 15px;
            margin-top: -20px;
        }
    }
    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #dedede;
        cursor: Pointer;
    }
    &.loading-in-progress {
        .tt-dropdown-menu {
            display: block !important;
            min-height: 50px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -20px;
                margin-left: -20px;
                height: 40px;
                width: 50px;
                display: block;
                @include loading-gif();
                z-index: 11;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.8;
                z-index: 10;
            }
        }
    }
}
