.position-left, .position-left * {
    text-align: left !important;
}
.position-right, .position-right * {
    text-align: right !important;
}
.position-center, .position-center * {
    text-align: center !important;
}
