//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@font-face {
  font-family: 'Open Sans';
  src:  url('../fonts/OpenSans/opensans') format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
    font-family: 'Domaine Display';
    src: url('../fonts/DomaineFont/DomaineDisplayWeb-Bold-eot.eot') format("embedded-opentype"), url('../fonts/DomaineFont/DomaineDisplayWeb-Bold-woff2.woff2') format("woff2"), url('../fonts/DomaineFont/DomaineDisplayWeb-Bold-woff.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    /* stylelint-disable */ 
    font-family: "aetna-mp";
    src:  url("../fonts/Iconmoon/aetna-mp-eot.eot?yrcxud#iefix") format("embedded-opentype"),
      url("../fonts/Iconmoon/aetna-mp-woff2.woff2?yrcxud") format("woff2"),
      url("../fonts/Iconmoon/aetna-mp-ttf.ttf?yrcxud") format("truetype"),
      url("../fonts/Iconmoon/aetna-mp-woff.woff?yrcxud") format("woff"),
      url("../fonts/Iconmoon/aetna-mp.svg?yrcxud#aetna-mp") format("svg");
    font-weight: normal;
    font-style: normal;
    /* stylelint-enable */
  }
  [class^="icon-"], [class*=" icon-"] {
    /* stylelint-disable */ 
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "aetna-mp" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* stylelint-enable */
  }
  .icon-no-health-question:before {
      content: "\e90b";
  }
  .icon-choose-provider:before {
      content: "\e90a";
  }
  .icon-plan-network:before {
      content: "\e90f";
  }
  .icon-noh-questions:before {
      content: "\e910";
  }
  .icon-aetna-logo:before {
    content: "\e904";
  }
  .icon-dollar:before {
    content: "\e905";
  }
  .icon-lightbulb:before {
    content: "\e906";
  }
  .icon-doctor:before {
    content: "\e907";
  }
  .icon-ribbon:before {
    content: "\e908";
  }
  .icon-usa:before {
    content: "\e909";
  }
  .icon-phone:before {
    content: "\e903";
  }
  .icon-norton-secure-seal:before {
    content: "\e900";
    color: #cdcbcb;
  }
  .icon-better-business-bureau:before {
    content: "\e901";
    color: #cdcbcb;
  }
  .icon-secure-website:before {
    content: "\e902";
    color: #cdcbcb;
  }